<%= @person.full_name %>:

We've received a Sign-up request for Ruby Dossiers on your behalf.  Your confirmation number is '<%= @person.confirmation %>' and you will be asked to enter that at your first login attempt.

If you did not trigger this message, feel free to ignore it.

Ruby Dossiers
